.view-id-uw_notices .views-row {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
}
.view-id-uw_notices .field-name-body .field-items, .view-uw-notices .field-name-field-updates .field-items {
  padding-bottom: 0;
}
.notices_head {
  padding-left: 60px;
  margin-bottom: 1.5em;
}
.notices_head img {
  float: left;
  margin-left: -60px;
}
.notices_head h1 {
  margin-bottom: 0;
}
.notices_head h2 {
  margin-bottom: 0.2em;
}
.notices_head > div {
  font-size: 0.9em;
}
.postinfo {
  font-size: 0.8em;
  margin-bottom: 2em;
  color: #666;
}
.notices_categories div {
  display: inline;
}
.notices_categories .field-item {
  margin-right: 0.5em;
}
/* notices block on home page */
#block-views-uw-notices-uw-notices-block {
  width: 198px;
  padding: 10px;
  border: 1px solid #000;
}
#block-views-uw-notices-uw-notices-block .notices_head, #block-views-uw-notices-uw-notices-block .content_node {
  padding-left: 40px;
  margin-bottom: 0.2em;
}
#block-views-uw-notices-uw-notices-block .notices_head img {
  margin-left: -40px;
  
}
#block-views-uw-notices-uw-notices-block h2 {
  margin: -10px -10px 10px -10px;
  padding: 2px 10px;
  border: none;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  color: #FCD450;
  font-size: 140%;
}
#block-views-uw-notices-uw-notices-block h3 {
  margin: 0;
  font-size: 115%;
}
#block-views-uw-notices-uw-notices-block h3 a {
  text-decoration: underline;
}
#block-views-uw-notices-uw-notices-block a {
  text-decoration: none;
}
#block-views-uw-notices-uw-notices-block .content_node .field-item:after {
  padding-left: 0.5em;
  content: '»';
}
#block-views-uw-notices-uw-notices-block .node-uw-ct-notices {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 1em;
}
#block-views-uw-notices-uw-notices-block .view-footer {
  margin: -0.5em -10px -10px -10px;
  padding: 2px 10px;
  background: #000;
  color: #fff;
  overflow: auto;
}
#block-views-uw-notices-uw-notices-block .view-footer a {
  color: #fff;
}
#block-views-uw-notices-uw-notices-block .view-footer a:hover, #block-views-uw-notices-uw-notices-block .view-footer a:focus {
  color: #FCD450;
}
#block-views-uw-notices-uw-notices-block .view-footer a.notices_rss {
  float: left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 16px;
  height: 14px;
  background: url(../images/rss.png);
  position: relative;
  top: 2px;
}
#block-views-uw-notices-uw-notices-block .view-footer a.notices_all {
  float: right;
  text-decoration: underline;
}
/* notices exposed filters */
.view-id-uw_notices .views-exposed-form {
  font-size: 80%;
  position: relative;
  border-bottom: 1px solid #DDD;
  border-top: 1px solid #DDD;
  margin-bottom: 1.5em;
}
.view-id-uw_notices .views-exposed-widgets > div {
  width: 29%;
  padding-right: 0.5em;
}
.view-id-uw_notices .views-exposed-widgets select {
  width: 100%;
}
.view-id-uw_notices .views-exposed-widgets > div.views-submit-button {
  width: auto;
  padding-right: 0;
}
.view-id-uw_notices .views-exposed-widget.views-submit-button {
  position: absolute;
  bottom: 4px; /* maybe 0.5em instead of 4px? */
  right: 0;
}
.view-id-uw_notices .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
  width: 100%;
  vertical-align: baseline;
}
